.redesSociais{
  background-color : #FFFFFF  ;
  margin : 0;
  padding: 0;
  border-color : #0b243b;
  width:1200px;
  height:1250;
  background-color:#FFFFFF;
  position: absolute;
  top: 1252;
  left: 0;  
}